@use "sass:color";

@mixin theme-transition {
  transition: background-color 0.28s ease, color 0.28s ease,
    border-color 0.28s ease;
}

@mixin card-shadow {
  box-shadow: $shadow-soft;
  border-radius: $radius;
  border: 1px solid var(--color-border);
  background: var(--color-surface);
}
