// src/assets/styles/main.scss
@use "./colors" as *;
@use "./mixins" as *;

:root {
  --spacing: #{$spacing};
  --radius: #{$radius};
  --anime-card-height: #{$anime-card-height};
  --anime-image-height: #{$anime-image-height};

  @include export-theme($theme-light);
}

[data-theme="dark"] {
  @include export-theme($theme-dark);
}

html,
body {
  background: var(--color-surface);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
